.venv/
__pycache__/
*.pyc
.env
.DS_Store

data/raw/*.csv
data/raw/*.json
data/processed/*.csv
data/processed/*.json

dbt_cloudcostlens/target/
dbt_cloudcostlens/logs/
dbt_cloudcostlens/dbt_packages/

airflow/logs/
airflow/plugins/__pycache__/

.streamlit/secrets.toml

*.duckdb
*.duckdb.wal